# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Day2_loops/nbproject/private/
/Day2_loops/build/
/Day2_loops/dist/
/TrainingGround/nbproject/private/
/TrainingGround/build/
/TrainingGround/dist/
/Day3/nbproject/private/
/Day3/build/
/Day3/dist/
/Day4_Classes2/nbproject/private/
/Day4_Classes2/build/
/Day4_Classes2/dist/
/Kalkulators/nbproject/private/
/Kalkulators/build/
/Kalkulators/dist/
/Day5_lists/nbproject/private/
/Day5_lists/build/
/Day5_lists/dist/
/Day6_MoreLists/nbproject/private/
/Day6_MoreLists/build/
/Day6_MoreLists/dist/
/Day7_Exceptions/nbproject/private/
/Day7_Exceptions/build/
/Day7_Exceptions/dist/
/Day7_GUI/nbproject/private/
/Day7_GUI/build/